<div class="modal-header separator text-center bg-primary text-white">
  <h4 class="text-uppercase" style="margin: 0; letter-spacing: 0.15em">{{ building.id ? 'Update Building' : 'Create Building'}}</h4>
</div>
<div class="modal-body">
  <c8y-stepper
    class="inner-scroll"
    [disableDefaultIcons]="{ edit: true, done: false }"
    [useStepLabelsAsTitlesOnly]="true"
    id="modal-body"
    [customClasses]="['m-l-80', 'm-r-80', 'p-t-16 ', 'p-b-16']"
    [disableProgressButtons]="true"
    linear
  >
    <cdk-step [label]="'Building' | translate">
      <div class="form-group">
        <label for="buildingName">Building Name</label>
        <input type="text" class="form-control" [(ngModel)]="building.name" />
      </div>
      <!-- <pre>{{ building | json}}</pre> -->
      <c8y-stepper-buttons 
        class="modal-footer d-block bg-component separator-top sticky-bottom" 
        (onNext)="next($event)" 
        (onCancel)="cancel()"
        [pending]="isLoading">
    </c8y-stepper-buttons>
    </cdk-step>
    <cdk-step [label]="'Add Levels' | translate">
      <assign-devices-step [building]="building"></assign-devices-step>
      <c8y-stepper-buttons class="modal-footer d-block bg-component separator-top sticky-bottom" (onNext)="next($event)" (onCancel)="cancel()"></c8y-stepper-buttons>
    </cdk-step>
    <cdk-step [label]="'Set Locations' | translate">
      <assign-locations-step [building]="building"></assign-locations-step>
      <c8y-stepper-buttons
        class="modal-footer d-block bg-component separator-top sticky-bottom"
        (onCustom)="onComplete()"
        [labels]="{ custom: building.id ? 'Update Building' : 'Create Building' }"
        [pending]="isPending"
        (onCancel)="cancel()"
      ></c8y-stepper-buttons>
    </cdk-step>
  </c8y-stepper>
</div>
