<div class="modal-header separator text-center bg-primary text-white">
  <h4 class="text-uppercase" style="margin: 0; letter-spacing: 0.15em">Add Threshold</h4>
</div>
<div class="modal-body">
  <div class="tabContainer">
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabsc8y m-b-8 m-l-16">
      <li *ngFor="let t of tabs" [class.active]="t.active">
        <button type="button" [title]="t.label" (click)="onTabClick(t.id)" [disabled]="!t.active && (threshold != initialValue)">
          <i *ngIf="t.icon" class="{{ t.icon }}"></i>
          <span class="txt">{{ t.label }}</span>
        </button>
      </li>
    </ul>

    <!-- tab content -->
    <div class="tab m-l-16 m-r-16">
      <ng-container [ngSwitch]="threshold.type">
        <ng-container *ngSwitchCase="'measurement'">
          <div class="form-group row">
            <c8y-form-group class="col-lg-8">
              <label>Label</label>
              <input type="text" class="form-control" [(ngModel)]="threshold.label" placeholder="Please name your threshold" />
            </c8y-form-group>
            <c8y-form-group class="col-lg-4">
              <label>Color</label>
              <input class="form-control" [style.background]="threshold.color" [(colorPicker)]="threshold.color" />
            </c8y-form-group>
            <c8y-form-group class="col-lg-6">
              <label>Min</label>
              <input type="number" class="form-control" [(ngModel)]="threshold.min" placeholder="Minimum" />
            </c8y-form-group>
            <c8y-form-group class="col-lg-6">
              <label>Max</label>
              <input type="number" class="form-control" [(ngModel)]="threshold.max" placeholder="Maximum" />
            </c8y-form-group>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'event'">
          <div class="form-group row">
            <c8y-form-group class="col-lg-8">
              <label>Label</label>
              <input type="text" class="form-control" [(ngModel)]="threshold.label" placeholder="Please name your threshold" />
            </c8y-form-group>
            <c8y-form-group class="col-lg-4">
              <label>Color</label>
              <input class="form-control" [style.background]="threshold.color" [(colorPicker)]="threshold.color" />
            </c8y-form-group>
            <c8y-form-group class="col-lg-12">
              <label>Event text</label>
              <input type="text" class="form-control" [(ngModel)]="threshold.text" placeholder="Event text to match against" required/>
            </c8y-form-group>
            <c8y-form-group class="col-lg-12">
              <label>Type</label>
              <input type="text" class="form-control" [(ngModel)]="threshold.eventType" placeholder="Filter events by type" required/>
            </c8y-form-group>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="threshold != initialValue" type="button" class="btn btn-danger" (click)="onDeleteButtonClicked()">Delete</button>
  <button type="button" class="btn btn-default" (click)="onCancelButtonClicked()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="onSaveButtonClicked()">Save</button>
</div>
