<div class="row" cdkDropListGroup>
  <div class="col-md-7">
    <div class="legend form-block"><span>Floor plan</span></div>
    <c8y-list-group class="flex-grow ff-scroll-fix cdk-droplist">
      <c8y-li *ngFor="let level of building?.levels" #li [collapsed]="false">
        <c8y-li-icon [icon]="'stairs'"></c8y-li-icon>
        <label class="editable">
          <input class="form-control" type="text" placeholder="Editable input placeholder" [(ngModel)]="level.name" [style.width.ch]="13" />
        </label>
        <c8y-li-action [icon]="'minus-circle'" [label]="'Remove from list' | translate" (click)="onRemoveLevel(level)"></c8y-li-action>
        <c8y-li-collapse>
          <virtual-draggable-device-list [devicesFixed]="level.markerManagedObjects" (onDropped)="drop($event)" (onAssigned)="assign($event, level)" (onRemoved)="moveBack($event, level)"> </virtual-draggable-device-list>
        </c8y-li-collapse>
      </c8y-li>
    </c8y-list-group>
    <div class="c8y-list__item">
      <button class="btn btn-default btn-block text-center" (click)="onAddLevel()">Add level</button>
    </div>
  </div>
  <div class="col-md-5">
    <div class="legend form-block"><span>Available devices</span></div>
    <virtual-draggable-device-list #allDevices></virtual-draggable-device-list>
  </div>
</div>
