<div class="form-group">
  <c8y-form-group>
    <label>Map Configurations</label>
    <ng-select
      name="map-configuration"
      placeholder="Select Map Configuration"
      [items]="mapConfigurations"
      bindLabel="name"
      [(ngModel)]="selectedMapConfiguration"
      (change)="onMapConfigurationChanged()"
      required
    >
    </ng-select>
  </c8y-form-group>
  <c8y-form-group>
    <label>Primary Measurement</label>
    <ng-select
      name="primary-measurement"
      placeholder="Select Primary Measurement"
      [items]="dataPointSeries"
      [(ngModel)]="selectedDataPoint"
      [readonly]="!selectedMapConfiguration"
      (change)="onPrimaryMeasurementChanged()"
      required
    >
    </ng-select>
  </c8y-form-group>
  <div class="legend form-block">
    Legend
  </div>
  <c8y-form-group>
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title" [(ngModel)]="config.legend.title" />
  </c8y-form-group>
  <c8y-form-group>
    <label>Thresholds</label>
    <div style="margin: 10px 0px">
      <button
        *ngFor="let threshold of config.legend.thresholds"
        type="button"
        style="width: 50%; display: block; margin-bottom: 2px; margin-left: 0px !important;"
        class="btn"
        [style.background]="threshold.color"
        (click)="onThresholdClicked(threshold)"
      >
        {{ threshold.label + ' (min: ' + threshold.min + ', max: ' + threshold.max + ')' }}
      </button>
    </div>
    <button
      type="button"
      style="width: 50%"
      class="btn btn-default btn btn-block"
      (click)="onAddThresholdButtonClicked()"
    >
      Add Threshold
    </button>
  </c8y-form-group>
  <div class="legend form-block">
    Marker
  </div>
  <c8y-form-group>
    <label>Popup - Preview</label>
    <div style="margin: 10px 0px">
      <div
        class="leaflet-popup indoor-map-popup indoor-map-configuration-popup leaflet-zoom-animated"
      >
        <div class="leaflet-popup-content-wrapper">
          <div class="leaflet-popup-content">
            <h5>Device Name</h5>
            <div *ngIf="!!config.datapointsPopup && config.datapointsPopup.length > 0">
              <p *ngFor="let datapoint of config.datapointsPopup">{{ datapoint.label }} : 0</p>
            </div>
            <div *ngIf="!config.datapointsPopup || config.datapointsPopup.length === 0">
              <p>No datapoints selected</p>
            </div>
          </div>
        </div>
        <div class="leaflet-popup-tip-container">
          <div class="leaflet-popup-tip"></div>
        </div>
      </div>
    </div>
    <button
      type="button"
      style="width: 50%;"
      class="btn btn-default btn btn-block"
      (click)="onUpdateDatapointsButtonClicked()"
    >
      Update Data Points
    </button>
  </c8y-form-group>
</div>
