<div class="row">
  <div class="col-md-4">
    <c8y-list-group class="separator-top">
      <ng-container *ngFor="let level of building.levels">
        <c8y-li (click)="select(level); selectedItemIsSensor = false" [class]="{ highlighted: selectedItem === level }">{{ level.name }}<c8y-li-icon icon="stairs"></c8y-li-icon></c8y-li>
        <ng-container *ngFor="let mo of level.markerManagedObjects">
          <c8y-li [class]="{ highlighted: selectedItem === mo }" (click)="select(mo); selectedItemIsSensor = true" class="nested-li">{{ mo['name'] }}<c8y-li-icon icon="sensor"></c8y-li-icon></c8y-li>
        </ng-container>
      </ng-container>
    </c8y-list-group>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="selectedItem && !selectedItemIsSensor && !selectedItem?.binaryId">
      <image-upload (imageUploaded)="onImageUploaded($event)"></image-upload>
    </ng-container>
    <ng-container *ngIf="selectedItem?.binaryId">
      <c8y-loading *ngIf="isLoadingImage"></c8y-loading>
      <img *ngIf="safeDataUrl" class="fit-w" alt="safeDataUrl" [src]="safeDataUrl" />
      <div class="form-group">
        <button class="btn btn-danger" (click)="removeImage()">Delete Image</button>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedItem && selectedItemIsSensor">
      <move-marker-map [imageBlob]="imageBlob" [device]="selectedItem" (markerPosition)="onMarkerPositionUpdate($event)"></move-marker-map>
    </ng-container>
  </div>
</div>
